html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

button:hover {
    background-color: rgba(94, 170, 47, 1);
}

button:active {
    background-color: rgb(94, 170, 47);
    opacity: 0.8;

}

.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

html,
body {
    height: 100%;
    font-family: "Oswald";
    font-size: 16px;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.header {
    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100%/2);
        height: 660px;
        background-color: #5eaa2f;
        background-image: url(../images/cats-bg.jpg);
        background-size: 680px auto;
        background-repeat: no-repeat;
        background-position: right bottom;

    }

    &.second-header {
        &::before {
            background-image: none;
            background-color: #fff;
            width: unset;
        }

        & li.active {
            border-color: rgba(104, 183, 56, 1);
        }


        .header__navigation-link {
            color: black;
        }
    }

    &__logo-link {
        margin-right: auto;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__logo-tablet {
        display: none;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }


    &__inner {
        display: flex;
        align-items: center;
        padding-top: 54px;
    }

    &__navigation {
        margin-bottom: 32px;

        &-list {
            display: flex;
            gap: 35px;
            z-index: 1;

            li {
                font-size: 20px;
                color: #fff;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }

                &.active {
                    border-bottom: 2px solid rgba(255, 255, 255, 1);
                    padding-bottom: 8px;

                }
            }
        }
    }

    &__intro {
        margin-bottom: 82px;

        &-inner {
            display: flex;
        }

        &-content {
            padding-top: 92px;
            padding-left: 90px;
            z-index: 1;
        }

        &-title {
            width: 436px;
            font-size: 60px;
            line-height: 60px;
            font-weight: 400;
            margin-bottom: 40px;
        }

        &-subtitle {
            font-size: 20px;
            line-height: 20px;
            font-weight: 400;
            margin-bottom: 52px;
        }

        &-button {
            padding: 14px 26px;
            background-color: rgba(104, 183, 56, 1);
            border: none;
            font-family: "Oswald";
            font-size: 20px;
            font-weight: 400;
            color: #fff;
        }

        &-img {
            z-index: 2;
            margin-left: -60px;
        }
    }

    &__mobile {
        display: none;

        // &-button {
        //     display: flex;

        //     & span {
        //         content: '';
        //         width: 29px;
        //         height: 2px;
        //         color: rgba(0, 0, 0, 1)
        //     }
        // }
    }


}

.main {
    flex-grow: 1;

    .programs {
        margin-bottom: 71px;

        &__inner {
            display: flex;
            justify-content: space-between;
        }

        &__item-slim {
            position: relative;

            .programs__item-title::before {
                content: '';
                position: absolute;
                background-image: url(../images/cat-1.svg);
                width: 100px;
                height: 100px;
                left: 52px;
                top: 41px;
            }

        }

        &__item-pro {
            position: relative;

            .programs__item-title::before {
                content: '';
                position: absolute;
                background-image: url(../images/cat-2.svg);
                width: 134px;
                height: 100px;
                left: 32px;
                top: 41px;
            }

        }

        &__item {
            padding: 77px 52px 55px 52px;
            background-color: rgba(242, 242, 242, 1);
            width: 570px;

            &-title {
                font-size: 36px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0em;
                margin-bottom: 73px;
                padding-left: 160px;
            }

            &-desc {
                font-family: Arial;
                margin-bottom: 27px;
                line-height: 24px;
            }

            &-link {
                font-size: 20px;
                line-height: 30px;
                position: relative;
                z-index: 44;
                padding-right: 50px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 33px;
                    height: 11px;
                    margin: auto;
                    background-image: url(../images/arrow.svg);
                    background-repeat: no-repeat;
                    background-position: left;
                    background-size: 24px 11px;
                }

                &:hover::after {
                    background-image: url(../images/long-arrow.svg);
                    background-size: 33px 11px;
                    transform: translateX(10%);
                    transition: transform .3s ease;
                }
            }
        }
    }

    .how {
        margin-bottom: 11px;

        &__title {
            font-size: 60px;
            line-height: 60px;
            text-align: start;
            font-weight: 400;
            margin-bottom: 72px;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 78px;

            &-item {
                position: relative;
                width: 245px;
                min-height: 245px;
            }

            &-desc {
                padding-top: 112px;
                font-family: Arial;
                line-height: 24px;
                color: rgba(68, 68, 68, 1);
            }

            &-item-1 {
                &::before {
                    content: '';
                    width: 80px;
                    height: 80px;
                    background-image: url(../images/card-1.png);
                    position: absolute;
                }

                &::after {
                    content: '1';
                    position: absolute;
                    color: rgba(242, 242, 242, 1);
                    z-index: -3;
                    left: 115px;
                    top: -107px;
                    font-size: 280px;

                }

            }

            &-item-2 {
                &::before {
                    content: '';
                    width: 80px;
                    height: 80px;
                    background-image: url(../images/card-2.png);
                    position: absolute;

                }

                &::after {
                    content: '2';
                    position: absolute;
                    color: rgba(242, 242, 242, 1);
                    z-index: -3;
                    left: 115px;
                    top: -107px;
                    font-size: 280px;

                }


            }

            &-item-3 {
                &::before {
                    content: '';
                    width: 80px;
                    height: 80px;
                    background-image: url(../images/card-3.png);
                    position: absolute;

                }

                &::after {
                    content: '3';
                    position: absolute;
                    color: rgba(242, 242, 242, 1);
                    z-index: -3;
                    left: 115px;
                    top: -107px;
                    font-size: 280px;

                }

            }

            &-item-4 {
                &::before {
                    content: '';
                    width: 80px;
                    height: 80px;
                    background-image: url(../images/card-4.png);
                    position: absolute;

                }

                &::after {
                    content: '4';
                    position: absolute;
                    color: rgba(242, 242, 242, 1);
                    z-index: -3;
                    left: 115px;
                    top: -107px;
                    font-size: 280px;

                }

            }
        }
    }

    .example {
        padding-bottom: 70px;
        background: linear-gradient(to bottom, #fff 33%, rgba(242, 242, 242, 1) 33% 70%);


        &__wrapper {
            display: flex;
        }

        &__content-container {
            min-width: 436px;
            margin-right: 134px;
            padding-top: 58px;
        }

        &__title {
            font-size: 60px;
            line-height: 60px;
            font-weight: 400;
            margin-bottom: 146px;
            width: 100%;
            background-color: #fff;
        }

        &__desc {
            font-family: Arial;
            line-height: 24px;
            margin-bottom: 69px;
            color: rgba(68, 68, 68, 1);
        }

        &__stats {
            display: flex;
            gap: 42px;

            &-value {
                display: flex;
                flex-direction: column;
                border: 1px solid rgba(205, 205, 205, 1);
                width: 162px;
                height: 77px;
                align-items: center;
                justify-content: center;
                margin-bottom: 55px;
                font-size: 30px;
                line-height: 37px;


                span {
                    font-size: 14px;
                    line-height: 14px;
                    font-family: Arial;
                    bottom: -18px;
                    position: relative;
                    max-width: 142px;
                    padding: 0 7px;
                    background: rgba(242, 242, 242, 1);

                }
            }
        }

        &__price {
            font-size: 20px;
            line-height: 20px;

            span {
                margin-left: 63px;
            }
        }

        &__slider-container {
            margin-right: auto;

        }

        &__slider-images {
            width: 690px;
            height: 536px;
            position: relative;
            margin-bottom: 20px;

        }

        &__slider-demo {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: cover;

            &--before {
                background-image: url(../images/cat-before.png);
                width: 50%;
                z-index: 11;
                transition: 1s;
                background-position-x: -43px;

            }

            &--after {
                background-image: url(../images/cat-after.png);
                width: 50%;
                margin: 0 auto;
                background-size: cover;
                transition: 1s;
                left: auto;
                right: 0;
                transform: scaleX(-1);
                max-width: 560px;
                background-position-x: 78px;

            }
        }

        &__control {
            display: flex;
            gap: 13px;
            align-items: center;
            margin: 0 35px;

            &-button {
                font-size: 20px;
                font-weight: 400px;
                line-height: 30px;
                border: none;
                font-family: 'Oswald';
                border-bottom: 1px dotted gray;

                &:hover {
                    background-color: unset;
                    border-bottom: solid 1px;

                }

                &:active {
                    border: none;
                }
            }

            &-label {
                display: flex;
                flex-grow: 1;
                width: 428px;
            }

            &-range {
                width: 100%;
                appearance: none;
                height: 6px;
                border-radius: 6px;
                padding: 0;

                &[type=range]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    box-sizing: content-box;
                    width: 8px;
                    height: 8px;
                    background-color: #5eaa2f;
                    border: 10px solid #fff;
                    border-radius: 50px;
                }
            }
        }
    }

    .position {
        &-container {
            position: relative;
            width: 100%;
            height: 400px;
            max-width: unset;
        }

        &__image {

            width: 100%;
            height: 400px;
            z-index: -1;
            margin: 0;
            padding: 0;
        }

        &-wrapper {
            margin: 100px 0;
            top: 0;
            position: absolute;
            padding-top: 66px;
            padding-left: 76px;
            padding-bottom: 51px;
            padding-right: 90px;
            display: flex;
            width: 570px;
            gap: 87px;
            z-index: 1;
            background-color: #fff;
        }

        &__title {
            text-transform: uppercase;
            line-height: 21px;
            font-size: 20px;
            width: 163px;
            font-weight: 400;
        }

        &__text {
            color: rgba(68, 68, 68, 1);
            font-family: "Arial";
            font-size: 16px;
            line-height: 20px;
            width: 155px;

            span {
                display: block;
                margin-top: 19px;
            }
        }
    }
}

.footer {
    background-color: rgba(242, 242, 242, 1);

    &__image {
        height: 24px;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 63px 0;
    }

    &__media-list {
        display: flex;
        gap: 25px;
        align-items: center;
    }

    &__media-icon {
        &:hover {
            filter: contrast(800%) sepia(10%) hue-rotate(320deg);
        }
    }

    &__academy {
        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

}

// PAGE CATALOG ---------------------------------------------------------------
// ============================================================================
.catalog {
    &__wrapper {
        margin-bottom: 75px;
    }

    &__title {
        font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        margin-bottom: 165px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 80px;
        row-gap: 144px;

    }

    &__card {
        height: 431px;
        padding: 0 39px;
        width: 245px;
        display: flex;
        flex-direction: column;
        color: rgba(68, 68, 68, 1);
        background-color: rgba(242, 242, 242, 1);

        &-more {
            background-color: #fff;
            border: 2px solid rgba(242, 242, 242, 1);
            text-align: center;
            align-items: center;
        }

        &:nth-child(odd) &-img {
            margin-top: -55px;
        }

        &:nth-child(even) &-img {
            margin-top: -80px;
        }

        &-img {
            position: absolute;
        }

        &-title {
            margin-top: 162px;
            width: 145px;
            text-align: center;
            font-size: 20px;
            line-height: 21px;
            font-weight: 400;
            margin-bottom: 21px;
        }

        &-button {
            width: 168px;
            height: 40px;
            color: #fff;
            background-color: rgba(104, 183, 56, 1);
            border: none;
            margin-top: 33px;
            margin-bottom: 40px;
            font-family: "Oswald";
            line-height: 20px;
            font-size: 16px;

        }
    }

    &__table {
        border-spacing: 0;
        font-size: "Arial";
        line-height: 16px;
    }

    &__product-value {
        text-align: right;
    }

    &__product-field,
    &__product-value {
        padding: 8px 0 7px;
        border-bottom: 1px solid #cdcdcd;
    }

    &__more-img {
        width: 60px;
        height: 60px;
        margin: 50px 0;
    }

    &__more-title {
        margin-top: 0;
    }

    &__more-desc {
        line-height: 18px;
        margin-bottom: 87px;
    }

    &__more-button {
        font-family: "Oswald";
        color: rgba(68, 68, 68, 1);
        background-color: rgba(242, 242, 242, 1);
        width: 169px;
        height: 40px;
        border: none;

        &:hover {
            background-color: rgba(235, 235, 235, 1);

        }

        &:active {
            opacity: 0.7;
            background-color: rgb(235, 235, 235);


        }

    }
}

.option {
    position: relative;

    &-wrapper {
        display: flex;
        gap: 80px
    }

    &__title {
        // z-index: 1;
        display: inline-block;
        font-size: 36px;
        line-height: 36px;
        font-weight: 400;
        margin-bottom: 81px;
        background-color: #fff;
        padding: 0 20px;
        left: 0px;

        &::before {
            content: '';
            background-color: rgba(104, 183, 56, 1);
            top: 20px;
            position: absolute;
            height: 3px;
            right: 0;
            width: 100%;
            z-index: -1;
        }
    }

    &__list {
        max-width: 896px;
        color: rgba(68, 68, 68, 1);
        margin-bottom: 86px;

        &-item {
            padding: 15px 0;
            display: grid;
            grid-template-columns: 280px 205px 50px 235px;
            column-gap: 40px;
            align-items: center;
            border-bottom: 1px solid rgba(205, 205, 205, 1);

            &:first-child {
                border-top: 1px solid rgba(205, 205, 205, 1);

            }
        }

        &-name {
            color: rgba(34, 34, 34, 1);
            font-size: 20px;
            line-height: 20px;
            font-weight: 400;
            text-transform: uppercase;

        }

        &-amount {
            font-family: "Arial";
            min-width: 132px;
            line-height: 20px;
        }

        &-price {
            font-family: "Arial";
            width: 42px;
            line-height: 20px;
        }

    }

    &__order-button {
        font-family: "Oswald";
        width: 235px;
        height: 40px;
        color: #fff;
        background-color: rgba(104, 183, 56, 1);
        border: none;

    }

    &__aside {
        display: flex;
        flex-direction: column;
        gap: 46px;
        align-items: center;
        color: #fff;
        width: 245px;
        height: 289px;
        background-image: url(../images/aside-bg.jpg);

        &-img {
            width: 80px;
            height: 80px;
            margin-top: 55px;
        }

        &-desc {

            font-family: "Arial";
            width: 161px;
            text-align: center;
            margin-bottom: 42px;
            line-height: 20px;


        }
    }
}

// PAGE FORM ---------------------------------------------------------------------
//================================================================================

.forms {
    margin-bottom: 65px;

    &__title {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 56px;
        font-weight: 400;
    }

    &__desc {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 66px;
        width: 323px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__wrapper {
        display: flex;
        gap: 80px
    }

    &__inputs-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
        line-height: 30px;
        width: 568px;
    }

    &__weight,
    &__age,
    &__name {
        height: 52px;
        display: flex;
        gap: 14px;
        text-transform: uppercase;
        align-items: center;

        &-input {
            width: 100%;
            height: 100%;
            font-size: 20px;
            line-height: 30px;
            font-family: 'Oswald';
            padding-left: 20px;

            &:hover {
                border-color: rgba(205, 205, 205, 1);

            }
        }

        &-label {
            white-space: nowrap;
        }
    }

    &__radio {
        width: 568px;
        height: 200px;
        text-transform: uppercase;
        color: rgba(34, 34, 34, 1);
        font-size: 20px;
        line-height: 30px;
        border: 1px solid rgba(231, 231, 231, 1);
        padding-left: 28px;


        & form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 25px 0;

            & label {
                display: flex;
                gap: 20px;
                align-items: center;
            }
        }

        &-input {
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #ccc;
            border-radius: 50%;
            outline: none;
            vertical-align: middle;

            &:hover {
                border-color: rgba(186, 186, 186, 1);
            }

            &:checked {
                background-color: rgba(104, 183, 56, 1);
            }
        }


    }
}

.contacts {
    margin-bottom: 69px;
    position: relative;

    &__title {
        margin-left: -20px;
        font-size: 36px;
        line-height: 36px;
        display: inline-block;
        font-size: 36px;
        line-height: 36px;
        font-weight: 400;
        margin-bottom: 76px;
        background-color: #fff;
        padding: 0 20px;
        left: 0px;

        &::before {
            content: '';
            background-color: rgba(104, 183, 56, 1);
            top: 20px;
            position: absolute;
            height: 3px;
            right: 0;
            width: 100%;
            z-index: -1;
        }

    }

    &__form {
        display: flex;
        gap: 78px;

        & label {
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            display: flex;
            gap: 20px;
            align-items: center;
            text-transform: uppercase;
            white-space: nowrap;

            & input {
                // margin-left: 20px;
                padding-left: 18px;
                width: 480px;
                height: 50px;
                font-size: 20px;
                line-height: 30px;
                font-family: 'Oswald';
                color: rgba(68, 68, 68, 1);
                border-color: rgba(205, 205, 205, 1);
            }

        }
    }

    &__image {
        position: relative;
        left: -55px;
    }
}

.comment {
    margin-bottom: 67px;
    position: relative;

    &__title {
        margin-left: -20px;
        font-size: 36px;
        line-height: 36px;
        display: inline-block;
        font-size: 36px;
        line-height: 36px;
        font-weight: 400;
        margin-bottom: 76px;
        background-color: #fff;
        padding: 0 20px;
        left: 0px;

        &::before {
            content: '';
            background-color: rgba(104, 183, 56, 1);
            top: 20px;
            position: absolute;
            height: 3px;
            right: 0;
            width: 100%;
            z-index: -1;
        }
    }

    &__form {
        display: block;
        width: 100%;
        height: 174px;
        border-color: rgba(231, 231, 231, 1);
        font-size: 20px;
        line-height: 30px;
        font-family: "Oswald";
        padding-left: 20px;
        padding-top: 10px;
        color: rgba(68, 68, 68, 1);
    }
}

.additional {
    margin-bottom: 82px;
    position: relative;

    &__title {
        margin-left: -20px;
        font-size: 36px;
        line-height: 36px;
        display: inline-block;
        font-size: 36px;
        line-height: 36px;
        font-weight: 400;
        margin-bottom: 76px;
        background-color: #fff;
        padding: 0 20px;
        left: 0px;

        &::before {
            content: '';
            background-color: rgba(104, 183, 56, 1);
            top: 20px;
            position: absolute;
            height: 3px;
            right: 0;
            width: 100%;
            z-index: -1;
        }
    }

    &__form {
        display: flex;
        gap: 104px;
        margin-bottom: 66px;
        font-size: 20px;
        font-family: 'Oswald';
        line-height: 30px;
        text-transform: uppercase;

        & label {
            display: flex;
            gap: 15px;
            align-items: center;

            &:hover {
                opacity: 0.8;
            }

            & input {
                width: 40px;
                height: 40px;
                appearance: none;
                border: 1px solid rgba(205, 205, 205, 1);

                &:checked {
                    background-image: url(../images/ok.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }
    }

    &__submit {
        display: flex;
        gap: 81px;

        &-button {
            font-family: "Oswald";
            font-size: 20px;
            color: #fff;
            padding: 18px 188px;
            background-color: rgba(104, 183, 56, 1);
            border: none;
            text-transform: uppercase;
        }

        &-desc {
            display: flex;
            align-items: center;
            line-height: 16px;
        }
    }

}

@media (max-width:1300px) {

    // and (min-width:731px) {
    .container {
        padding: 0 20px;
    }

    .header {
        padding: 0 15px;

        &::before {
            background-image: unset;
            background-color: unset;
        }

        &__logo-link {
            display: none;
        }

        &__logo-tablet {
            display: inherit;
            margin-right: auto;
            display: flex;
            align-items: center;
        }

        &__navigation {
            &-list {

                // align-items: center;
                & li {
                    font-size: 18px;
                    color: rgba(0, 0, 0, 1);

                    &.active {
                        border-color: #5eaa2f;
                    }
                }
            }
        }

        &__intro {
            margin-bottom: 0;

            &-inner {
                flex-direction: column;
            }

            &-img {
                max-width: 700px;
                z-index: 0;
                margin-left: 30px;
                margin-top: -85px;
            }

        }
    }

    .main {
        .programs {
            margin-bottom: 45px;

            &__inner {
                gap: 30px;
                flex-direction: column;
            }

            &__item {
                width: 700px;
                margin: 0 auto;


                &-title {
                    margin-bottom: 24px;
                    padding-left: 0;

                    &::before,
                    &::after {
                        display: none;
                    }
                }


                &-desc {
                    margin-bottom: 52px;
                    width: 377px;
                }

                &-slim {
                    &::before {
                        content: '';
                        width: 200px;
                        height: 210px;
                        position: absolute;
                        background-image: url(../images/cat-slim-tab.png);
                        background-position: right;
                        right: 52px;
                    }
                }

                &-pro {
                    &::before {
                        content: '';
                        width: 268px;
                        height: 200px;
                        position: absolute;
                        background-image: url(../images/cat-pro-tab.png);
                        background-position: right;
                        right: 20px;
                    }

                    .programs__item-desc {
                        width: 342px;
                    }
                }

            }

        }

        .how {
            &__list {
                grid-template-columns: repeat(2, 1fr);
            }


        }

        .example {
            background: linear-gradient(to bottom, #fff 55%, #f2f2f2 55% 70%);

            &__wrapper {
                flex-direction: column;
            }

            &__title {
                margin-bottom: 63px;
            }

            &__price {
                position: absolute;
                margin-top: -5em;
                right: 0;
                padding-right: 20px;
                display: flex;
                flex-direction: column;
                text-align: end;
            }

            &__stats-value span {
                background-color: #fff;
            }
        }

        .position {
            &-container {
                padding: 0;
                height: 600px;
                background-color: rgba(255, 255, 255, 1);
            }

            &-wrapper {
                margin-top: 0;
                padding-left: 0;
                padding-right: 0;
                justify-content: space-between;
                background-color: rgba(255, 255, 255, 1);
                gap:0;

            }

            &__image {
                margin-top: 225px;
            }
        }

        .catalog {
            &__cards {
                grid-template-columns: repeat(2, 324px);
                column-gap: 60px;
                row-gap: 140px;

            }
        }

        .option {
            &-wrapper {
                flex-direction: column;

            }

            &__order-button {
                width: 632px;
            }

            &__list {
                border: 1px solid rgba(205, 205, 205, 1);

                &-item {
                    padding: 25px 38px;
                    grid-template-columns: 280px 205px 50px;
                    row-gap: 27px;
                    column-gap: 50px;
                }

                &-amount {
                    text-align: end;
                }

            }

            &__aside {
                margin-bottom: 76px;
                width: 100%;
                background-image: url(../images/aside-bg-tablet.jpg);
                background-repeat: no-repeat;
                height: 200px;
                background-size: cover;
                flex-direction: row;
                gap: 280px;

                &-img {
                    margin-top: 0;
                    margin-left: 78px;
                }

                &-desc {
                    margin-bottom: 0;
                    text-align: start;
                }
            }

        }

        .forms {
            &__wrapper {
                flex-direction: column;
                gap: 72px;
            }

            &__inputs-wrapper {
                width: 630px;

            }

            &__radio {
                width: 628px;
            }
        }

        .contacts {
            margin-bottom: 65px;

            &__form {
                flex-direction: column;
                gap: 20px;

                // align-items: end;
                #email-form {
                    & input {
                        width: 550px;
                    }
                }

                #tel-form {
                    & input {
                        width: 530px;
                    }
                }
            }

        }

        .additional {
            &__form {
                display: grid;
                grid-template-columns: repeat(2, 220px);
                column-gap: 124px;
                row-gap: 37px;
            }

            &__submit {
                gap: 61px;

                &-button {
                    padding: 13px 0;
                    width: 282px;
                }
            }

        }
    }
}

@media (max-width:730px) {
    .container {
        padding: 0;
    }

    .header {
        padding: 0;

        & li.active {
            border: none;
        }

        & .second-header li.active {
            border: none;
        }

        &__inner {
            display: block;
            padding: 25px 20px;
            border-bottom: 1px solid rgba(217, 217, 217, 1);
        }

        &__logo-tablet {
            display: none;
        }

        &__logo-link {
            display: none;
        }

        &__navigation {
            &-first {
                margin-bottom: 0;
            }

            &-list {
                // display: none;
                z-index: 5;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                position: absolute;
                flex-direction: column;
                height: 100vh;
                transition: transfrom .3s ease;
                text-align: center;
                padding-top: 200px;
                background-color: rgba(242, 242, 242, 1);
                transform: translateX(-100%);
                transition: transform 0.6s ease-out;

                &--active {
                    transform: translateX(0%);
                    transition: transform 0.6s ease-in-out;
                }
            }
        }

        &__mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 10;

            &-button {
                display: flex;
                flex-direction: column;
                width: 24px;
                height: 24px;
                gap: 8px;
                border: none;
                background-color: unset;
                z-index: 99;
                justify-content: center;

                & span:nth-child(1) {
                    transform-origin: 0% 0%;
                    transition: transform 0.4s ease-in-out;
                }

                & span:nth-child(2) {
                    transition: transform 0.3s ease-in-out;
                }

                & span:nth-child(3) {
                    transform-origin: 0% 100%;
                    transition: transform 0.4s ease-in-out;
                }



                &--active {
                    align-items: center;

                    & span:nth-child(1) {
                        transform: translateX(0) rotate(45deg);
                    }

                    & span:nth-child(2) {
                        transform: scaleY(0);
                    }

                    & span:nth-child(3) {
                        transform: translateX(0) rotate(-45deg);
                    }

                }

                &:hover,
                &:active {
                    background-color: unset;
                }

                & span {
                    width: 29px;
                    height: 2px;
                    background-color: black;
                }

            }
        }

        &__intro {
            background-image: url(../images/cats-bg-mobile.jpg);
            // width: 100vh;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 100% 70%;
            background-repeat: no-repeat;

            &-content {
                padding-left: 0;
                margin: 0 auto;
            }

            &-title {
                max-width: 249px;
                margin-bottom: 25px;
                font-size: 36px;
                line-height: 36px;
                color: rgba(255, 255, 255, 1);
            }

            &-subtitle {
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 300px;
                color: rgba(255, 255, 255, 1);



            }

            &-img {
                width: 300px;
                height: 290px;
                padding: 0;
                margin: 0 auto;
                // margin-top: -325px;
                margin-bottom: 65px;
                margin-top: -330px;

            }
        }
    }

    .main {
        & h2 {
            font-size: 24px;
            line-height: 26px;
            ;
        }

        .forms {
            margin-bottom: 26px;

            padding: 0 20px;

            &__wrapper {
                gap: 27px;
            }

            &__title {
                font-size: 36px;
                line-height: 36px;
                margin-bottom: 34px;
            }

            &__desc {
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 39px;
            }

            &__name input,
            &__name label {
                font-size: 16px;
                line-height: 18px;
            }

            &__inputs-wrapper {
                width: 100%;
                gap: 23px;
            }

            &__radio {
                width: 100%;
                font-size: 16px;
                line-height: 18px;
                height: unset;
                border-left: unset;
                border-right: unset;

            }
        }

        .contacts {
            margin-bottom: 27px;
            padding: 0 20px;

            &__title {
                width: 230px;
                margin-bottom: 32px;
            }

            &__form {
                & label {
                    font-size: 16px;
                    line-height: 18px;
                }
            }

        }

        .comment {
            margin-bottom: 27px;
            font-size: 16px;
            line-height: 18px;
            padding: 0 20px;
            margin-bottom: 34px;

            &__title {
                margin-bottom: 34px;

            }

            &__form {
                font-size: 16px;
                line-height: 18px;
            }
        }

        .additional {
            padding: 0 20px;
            margin-bottom: 32px;

            &__title {
                margin-bottom: 34px;
            }

            &__form {
                grid-template-columns: repeat(1, 1fr);
                gap: 17px;
                margin-bottom: 34px;

                & label {
                    font-size: 16px;
                    line-height: 18px;

                    & input {
                        width: 30px;
                        height: 30px;
                    }
                }

            }

            &__submit {
                gap: 21px;
                flex-direction: column;
                align-items: center;

                &-button {
                    width: 100%;
                    padding: 10px 0;
                    font-size: 16px;
                    line-height: 20px;
                }

                &-desc {
                    font-size: 14px;
                    line-height: 16px;

                }
            }

        }

        .position {
            &-container {
                height: unset;
            }


            &-wrapper {
                padding: 25px 20px;
                width: 100%;
                background-color: rgba(242, 242, 242, 1);

                &.first {
                    background-color: rgba(255, 255, 255, 1);
                }
            }

            &__title {
                font-size: 16px;
                line-height: 18px;
            }

            &__text {
                font-size: 14px;
                line-height: 20px;

                & span {
                    margin-top: 0;
                }
            }

            &__image {
                margin-top: 0;
            }

        }

        .catalog {
            padding: 0 20px;
            margin-bottom: 25px;

            &__title {
                margin-bottom: 41px;
                font-size: 36px;
                line-height: 36px;
            }

            &__cards {
                margin: 0 auto;
                grid-template-columns: repeat(1, 1fr);
                row-gap: 30px;
            }

            &__card {
                padding: 30px 20px;
                display: flex;
                width: 100%;
                height: 100%;

                &-button {
                    width: 100%;
                    margin: 0;
                    margin-top: 13px;
                }

                &-img {
                    width: 100px;
                    margin-top: 0 !important;
                    align-items: center;
                    position: relative;
                    margin: 0 auto;
                }

                &-title {
                    margin: 0 auto;
                }


            }

        }

        .option {
            &-wrapper {
                gap: 39px;
                flex-direction: column;
            }

            &__title {
                margin-bottom: 35px;
            }

            &__list {
                margin-bottom: 0px;
                border: none;
                padding: 0 20px;
                border-right: unset;
                border-left: unset;

                &-item {
                    gap: 0;
                    grid-template-areas: "1 "
                        "2 "
                        "4 ";
                    grid-template-columns: 100%;
                    grid-template-rows: unset;
                    row-gap: 10px !important;
                }
            }

            &__list-name {
                grid-area: 1;
                margin-bottom: 10px;

            }

            &__list-amount {
                grid-area: 2;
                text-align: start;

            }

            &__list-price {
                grid-area: 2;
                margin-left: -40px;
            }

            &__order-button {
                position: relative;
                grid-area: 4;
                width: 100%;
            }

            &__aside {
                height: 289px;
                margin-bottom: 35px;
                background-image: url(../images/aside-bg-mobile.jpg);
                flex-direction: column;
                // background-size: cover;
                gap: 48px;
                align-items: center;
                justify-content: center;

                &-img {
                    margin: 0;
                }

                &-desc {
                    text-align: center;
                }
            }

        }

        .programs {
            margin-bottom: 27px;
            &__item {
                width: 100%;
                padding: 0 20px;
                padding-top: 30px;
                padding-bottom: 18px;

                &-slim {
                    &::before {
                        background-image: url(../images/cat-slim-mobile.svg);
                        width: 50px;
                        height: 53px;
                        left: 25px;

                    }
                }

                &-pro {
                    
                    &::before {
                        background-image: url(../images/cat-pro-mobile.svg);
                        width: 67px;
                        height: 50px;
                        left: 25px;
                    }
                    .programs__item-desc{
                        width: 100%;
                    }
                }

                &-title {
                    text-align: center;
                    margin-bottom: 30px;
                    font-size: 24px;
                    line-height: 37px;
                }

                &-desc {
                    font-size: 14px;
                    line-height: 18px;
                    padding: 0;
                    width: 100%;
                    text-align: left;
                    padding-bottom: 23px;
                    margin-bottom: 19px;
                    border-bottom: 1px solid rgba(217, 217, 217, 1);
                }

                &-link {
                    width: 100%;
                    font-size: 16px;
                    line-height: 16px;
                    // padding-top: 15px;
                    margin: 0 auto;
                }



            }


        }
        .how{
            padding: 0 20px;;
            &__title{
                font-size:36px;
                line-height: 40px;
            }
            &__list{
                grid-template-columns: repeat(1,1fr);
                row-gap: 26px;
                &-desc{
                    display: flex;
                    gap:20px;
                    position: relative;
                    padding: 0;
                    color:rgba(68, 68, 68, 1);
                    &:nth-child(1)::before{
                        // position: relative;
                        display: block;
                        // left: 0;
                        content: '';
                        width: 60px;
                        height: 60px;
                        padding-right: 60px;
                        background-image: url(../images/card1-mobile.png);
                    }
                }
                &-item{
                    min-height: unset;
                    width: 100%;
                    max-width: 320px;
                    display: flex;
                    &::before{
                        display: none;
                    }
                    &::after{
                        display: none;
                    }
                }
            }

        }
        .example{
            padding: 0 20px;
            &__wrapper{
                // height: 277px;
            }
            &__slider-demo--after{
                background-position-x: unset;
                max-width: 295px;
            }
            &__slider-demo--before{
                background-position-x: unset;
            }
            &__slider-container{
                margin-right: 0;
            }
            &__slider-images{
                width: 315px;
                height: 280px;
                margin:0 auto;
            }
            &__price{
                position: relative;
                right: unset;
                display: block;
                margin-top: 0;
                text-align: center;
                margin-top: 20px;
                font-size: 14px;
                line-height: 20px;
                & span{
                    margin:0;
                }
            }
            &__stats{
                max-height: 90px;
            }
            &__content-container{
                margin-right: 0;
                max-width: 436px;
                min-width: unset;
            }
            &__title{
                font-size: 36px;
                line-height: 40px;
                margin-bottom:33px ;
            }
            &__desc{
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 25px;
    
            }
        }


    }

    .footer {
        &__inner {
            padding: 20px 20px 25px 20px;
            flex-direction: column;
            gap: 20px;
        }

        &__media-list {
            gap: 30px;
            border-top: 1px solid rgba(217, 217, 217, 1);
            border-bottom: 1px solid rgba(217, 217, 217, 1);
            width: 100%;
            justify-content: center;
            padding: 25px 0;

        }

    }
    

}